html {
  font-family: Raleway, sans-serif;
}

.img-flex {
  width: 100%;
}

.social > li {
  width: 3em;
}

footer {
  background-color: #231246;
  color: #fff;
}

.btn {
  border-radius: 30px;
  border: 0px solid #462446;
  background-color: #F18c8e;
  box-shadow: 0px 1.5px 7px #999;
  width: 10rem;
  text-align: center;
}

.plans {
  border-radius: 30px;
  border: 0px solid #FAB568;
  background-color: #FAB568;
  box-shadow: 0px 1.5px 7px #999;
}

.btn:hover {
  background-color: #3A0B86;
  transition: color 0.5s ease;
}

.btn-plans:hover {
  background-color: #3A0B86;
  color: #fff;
}

.link-box {
  color: #888888;
  transition: color 0.3s ease;
}

.link-box:hover {
  color: #3A0B86;
}

.testimonials {
  color: #fff;
}

.testimonials:hover {
  color: #888
}

.welcome {
  color: #2294E3;
}

input {
  border: 1px solid #707070;
  border-radius: 8px;
}

fieldset {
  border: 0;
}

.products {
  color: #4B44AA;
}

.foot:hover {
  color: #fff;
}

.header {
  background-color: #F1D1B5;
  color: #fff
}

.banner {
  background-color: #F1D1B5;
}

.boxy {
  background-color: #462446;
  color: #fff;
}

.header-tour {
  background-color: #231246;
}

.a-tour {
  color: #888;
}

.a-tour:hover {
  color: #fff;
}

.brain {
  background-color: #6FDAE8;
}

.bubble {
  position: relative;
}

.bubble-text {
  position: relative;
  bottom: 9em;
  right: -1em;
}

td {
  height: 10em;
  border: 1px solid #ccc;
}

th {
  border: 1px solid #ccc;
}

.sign-up {
  background-color: #231246;
}
